@charset "utf-8";
/* CSS Document */

@font-face {
    font-family: 'gotham_bookregular';
    src: url('../fonts/gotham-book-webfont.eot');
    src: url('../fonts/gotham-book-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/gotham-book-webfont.woff') format('woff'),
         url('../fonts/gotham-book-webfont.ttf') format('truetype'),
         url('../fonts/gotham-book-webfont.svg#gotham_bookregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'gotham_boldregular';
    src: url('../fonts/gotham-bold-webfont.eot');
    src: url('../fonts/gotham-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/gotham-bold-webfont.woff') format('woff'),
         url('../fonts/gotham-bold-webfont.ttf') format('truetype'),
         url('../fonts/gotham-bold-webfont.svg#gotham_boldregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'gotham_bookitalic';
    src: url('../fonts/gotham-bookitalic-webfont.eot');
    src: url('../fonts/gotham-bookitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/gotham-bookitalic-webfont.woff') format('woff'),
         url('../fonts/gotham-bookitalic-webfont.ttf') format('truetype'),
         url('../fonts/gotham-bookitalic-webfont.svg#gotham_bookitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}


body{
	background-color:#E0E0E0;
	font-family: 'gotham_bookregular';
	/*font-size:16px;*/
}

.custom-font16{
	font-size:16px;
}

.custom-bold16{
	font-family:'gotham_boldregular';
	font-size:16px;
	font-weight:bold;
}

.custom-bold12{
	font-family:'gotham_boldregular';
	font-size:12px;
	font-weight:bold;
}

.custom-bold12-seled{
	font-family:'gotham_boldregular';
	font-size:12px;
	font-weight:bold;
	text-decoration:underline;
}

.custom-bold18{
	font-family:'gotham_boldregular';
	font-size:18px;
	font-weight:bold;
}

.custom-italic{
	font-family:'gotham_bookitalic';
	font-style:italic;
	font-size:16px;
}

div.custom-back{
	/*widt:1100pxh;*/
	background-color:#FFF;
}

.back-white{
	background-color:#FFF;
	padding-top:5px;
	padding-left:5px;
	padding-right:20px;
	padding-bottom:20px;
	
}

.info-part{
	border: none;
	padding: 0px;
	padding-bottom: 5px;
	margin-top: 20px;
}

.news-detail-part{
	border:1px #999 solid;
	padding:0px;
	padding-bottom:10px;
	margin-top:20px;
}

.subtitle{
	font-family:'gotham_boldregular';
	font-size:14px;
	font-weight:bold;
	background-image:url(../img/headerback.png);
	background-repeat:repeat-x;
	background-position:left;
	padding:3px 5px;
}

.subcontents{
	padding-left:15px;
}

.symbol-name{
	/*font-weight:bold;*/
	font-size:16px;
	padding-left:15px;
}

.content-2{
	margin-top:10px;
}

.padding15{
	padding-right:15px;
}

.intradayChangeUp {
	COLOR: #3cb371;
	font-weight:bold;
}

.intradayChangeDown {
	COLOR: red;
	font-weight:bold;
}

#intradayChange span{
	margin-right:5px;
}
.span-left{
	margin-left:15px;
}

.chart-part{
	border:1px #999 solid;
	padding:0px;
	padding-bottom:10px;
	margin-top:20px;
}

#chartDiv{
	padding:10px;
	margin-top:10px;
}

.chart-setting{
	margin-left:10px;
	padding-left:25px;
}

.select-border{
	/*border:2px #06F solid;*/	
	border:1px #069 solid;
	background-color:#EEE;
	font-weight:700;
}


/*********rss news related styles************/
div.box2 div.body {
	overflow: auto !important;
}
 
.rss-item-container {
	*padding: 5px;
	border-bottom: dotted 1px;
}
 
.rss-item {
	padding: 5px;
	overflow: hidden;
}
 
.rss-item:hover {
	background-color: #eee;
}
 
.rss-item-title {
	display: block;
	font-size: 13px;
	max-height: 40px;
	overflow: hidden;
}
 
.rss-item-title:hover {
	text-decoration: none;
	color: #00a;
}
 
.rss-item-date {
	font-size: 9px;
}
 
.rss-item-desc {
	color: black;
}

.item-command {
	font-size: 11px;
	color: grey;
	line-height: 14px;
	vertical-align: middle;
}

.item-icon {
	color: grey;
	margin-right: 3px;
} 

.item-right {
	float: right;
	display: none;
}

.rss-item:hover .item-right {
	display: block;
}

.item-right .item-icon {
	margin-left: 5px;
}

.news-detail-header {
	margin: 10px auto;
}

.avatar {
	margin-left: 10px;
	margin-right: 5px;
	float: left;
}

.personality {
	padding-top: 5px;
}

.pub-time {
	color: grey;
}
/* ============================ */

/************************* Autocomplete styles**************************/
.yui3-aclist {
	width: 320px;
	z-index:0;
}
/***********************************************************************/

/* === footer logo ===*/

.footer-container{
	background-color:#ddd;
	margin-top:20px;
	margin-right:20px;
	text-align:center;
	padding:10px;
	
}

.footer-container div a{
	margin-right:5px;
}

.header-container div {
	display:inline;
	vertical-align:bottom;
}

.header-container{
	background-color:#ddd;
	margin-top:10px;
	margin-right:20px;
	text-align:center;
	padding:10px;
}

.header-container div a{
	margin-right:10px;
}


.footer-img-style{
	border:2px solod #C00;
}

/**************************** Login Form ****************************/
.popup
{
   position: fixed;
   width: 100%;
   opacity: 0.9;
   top:0px;
   min-height:200px;
   height:100%;
   z-index: 100;
   background: #FFFFFF;
   font-size: 20px;
   text-align: center;
   display:none;
   
}
#login_form
{
	position:absolute;
	width:200px;
	top:100px;
	left:45%;
	background-color:#DDD;
	padding:10px;
	border:1px solid #AAA;
	display:none;
	z-index:101;
	-moz-border-radius: 10px;
	-moz-box-shadow: 0 0 10px #aaa;
	-webkit-border-radius: 10px;
	-webkit-box-shadow: 0 0 10px #aaa;
}
/********************************************************************/
