.CSS_Table_Example {
	margin:0px;padding:0px;
	width:100%;
	box-shadow: 10px 10px 5px #888888;
	border:1px solid #999999;
	-moz-border-radius-bottomleft:9px;
	-webkit-border-bottom-left-radius:9px;
	border-bottom-left-radius:9px;
	-moz-border-radius-bottomright:9px;
	-webkit-border-bottom-right-radius:9px;
	border-bottom-right-radius:9px;
	-moz-border-radius-topright:9px;
	-webkit-border-top-right-radius:9px;
	border-top-right-radius:9px;
	-moz-border-radius-topleft:9px;
	-webkit-border-top-left-radius:9px;
	border-top-left-radius:9px;
	cursor:pointer;
}.CSS_Table_Example table{
	width:100%;
	height:100%;
	margin:0px;padding:0px;
}.CSS_Table_Example tr:last-child td:last-child {
	-moz-border-radius-bottomright:9px;
	-webkit-border-bottom-right-radius:9px;
	border-bottom-right-radius:9px;
}.CSS_Table_Example table tr:first-child td:first-child {
	-moz-border-radius-topleft:9px;
	-webkit-border-top-left-radius:9px;
	border-top-left-radius:9px;
}.CSS_Table_Example table tr:first-child td:last-child {
	-moz-border-radius-topright:9px;
	-webkit-border-top-right-radius:9px;
	border-top-right-radius:9px;
}.CSS_Table_Example tr:last-child td:first-child{
	-moz-border-radius-bottomleft:9px;
	-webkit-border-bottom-left-radius:9px;
	border-bottom-left-radius:9px;
}.CSS_Table_Example tr:hover td{
	background-color:#CCCCCC;
	background:-o-linear-gradient(bottom, #CCCCCC 5%, #EEEEEE 100%);	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #CCCCCC), color-stop(1, #EEEEEE) );
	background:-moz-linear-gradient( center top, #CCCCCC 5%, #EEEEEE 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#CCCCCC", endColorstr="#EEEEEE");	background: -o-linear-gradient(top,#CCCCCC,EEEEEE);
}.CSS_Table_Example tr:first-child td{
	background:-o-linear-gradient(bottom, #CACACA 5%, #A0A0A0 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #CACACA), color-stop(1, #A0A0A0) );
	background:-moz-linear-gradient( center top, #CACACA 5%, #A0A0A0 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#CACACA", endColorstr="#A0A0A0");	background: -o-linear-gradient(top,#CACACA,A0A0A0);
	background-color:#CACACA;
	border:0px solid #999999;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:14px;
	color:#000000;
}.CSSTableGenerator tr:first-child:hover td{
	background:-o-linear-gradient(bottom, #CACACA 5%, #A0A0A0 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #CACACA), color-stop(1, #A0A0A0) );
	background:-moz-linear-gradient( center top, #CACACA 5%, #A0A0A0 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#CACACA", endColorstr="#A0A0A0");	background: -o-linear-gradient(top,#CACACA,A0A0A0);
	background-color:#CACACA;
}.CSS_Table_Example tr:first-child td:first-child{
	border-width:0px 0px 1px 0px;
}.CSS_Table_Example tr:first-child td:last-child{
	border-width:0px 0px 1px 1px;
}.CSS_Table_Example td{
	background:-o-linear-gradient(bottom,#EEEEEE 5%, #CCCCCC 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #EEEEEE), color-stop(1, #CCCCCC) ); 
	background:-moz-linear-gradient( center top, #EEEEEE 5%, #CCCCCC 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#EEEEEE", endColorstr="#CCCCCC");	background: -o-linear-gradient(top,#EEEEEE,CCCCCC);
	background-color:#EEEEEE;
	border:1px solid #999999;
	border-width:0px 1px 1px 0px;
	text-align:left;
	padding:7px;
	font-size:12px;
	text-align:center;
	color:#000000;
}.CSS_Table_Example td.msg{
	color:#C00;
	font-weight: bold;
}.CSS_Table_Example tr:last-child td{
	border-width:0px 1px 0px 0px;
}.CSS_Table_Example tr td:last-child{
	border-width:0px 0px 1px 0px;
}.CSS_Table_Example tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}


input[type="checkbox"] {
    display:none;
}

input[type="checkbox"] + label {
    color:#f2f2f2;
    font-family:Arial, sans-serif;
    font-size:14px;
}

input[type="checkbox"] + label span {
    display:inline-block;
    width:19px;
    height:19px;
    margin:-1px 4px 0 0;
    vertical-align:middle;
    background:url(../img/check_radio_sheet.png) left top no-repeat;
    cursor:pointer;
}

input[type="checkbox"]:checked + label span {
    background:url(../img/check_radio_sheet.png) -19px top no-repeat;
}

input[type="radio"] {
    display:none;
}

input[type="radio"] + label {
    color:#f2f2f2;
    font-family:Arial, sans-serif;
    font-size:14px;
}

input[type="radio"] + label span {
    display:inline-block;
    width:19px;
    height:19px;
    margin:-1px 4px 0 0;
    vertical-align:middle;
    background:url(../img/check_radio_sheet.png) -38px top no-repeat;
    cursor:pointer;
}

input[type="radio"]:checked + label span {
    background:url(../img/check_radio_sheet.png) -57px top no-repeat;
}

.page_control #userTableController{
	width:80%;
	display:inline-block;
}.page_control ul {
	list-style-type:none;
	margin:0;
	padding:0;
}.page_control li{
	display:inline;
}.page_control a {
	display:inline-block;
	margin:2px;
}.page_control a.cur{
	font-weight:bold;
	border:1px #999999 solid;
}